<div class="client">
  <div class="client__header">
    <h3 class="client_title">Карточка клиента</h3>
    <button (click)="createClient()" [disabled]="clientForm ? !clientForm.valid : true"
            class="btn btn-primary client_btn">Save New Client</button>
  </div>
  <div *ngIf="clientForm" class="client__card">
    <form class="form-inline"  [formGroup]="clientForm" >
      <div class="client__card__item">
        <div class="card__item card__name"
              [ngClass]="{'has-error': !clientForm.get('name').valid && clientForm.get('name').touched,
                          'has-success': clientForm.get('name').valid && !clientForm.get('name').touched }">
          <label class="card__name_label">ФИО
            <sup>*</sup></label><br>
          <input type="text" formControlName="name"
                 class="form-control card__name_value">
        </div>
        <div class="card__item card__gender"
             [ngClass]="{'has-error': !clientForm.get('name').valid && clientForm.get('name').touched,
                          'has-success': clientForm.get('name').valid && !clientForm.get('name').touched }">
          <label>Стать<sup>*</sup></label><br>
          <input type="radio" formControlName="gender"
                 value="female" class="card__gender_checkbox">Жен.
          <input type="radio" formControlName="gender"
                 value="male" class="card__gender_checkbox">Муж.
        </div>
        <div class="card__item card__date"
             [ngClass]="{'has-error': !clientForm.get('name').valid && clientForm.get('name').touched,
                          'has-success': clientForm.get('name').valid && !clientForm.get('name').touched }">
          <label>Дата рождения<sup>*</sup></label><br>
          <my-date-picker formControlName="date"
                          [options]="{ dateFormat: 'dd/mm/yyyy', width: '50%' }"
          ></my-date-picker>
        </div>
      </div>
      <div class="client__card__item">
        <div class="card__item"
             [ngClass]="{'has-error': !clientForm.get('name').valid && clientForm.get('name').touched,
                          'has-success': clientForm.get('name').valid && !clientForm.get('name').touched }">
          <label>Телефон<sup>*</sup></label><br>
          <input class="form-control card__phone_value"
                 placeholder="0_________"
                 formControlName="phone" type="text" >
        </div>
        <div class="card__item"
             [ngClass]="{'has-error': !clientForm.get('name').valid && clientForm.get('name').touched,
                          'has-success': clientForm.get('name').valid && !clientForm.get('name').touched }"><br>
          <label>Электронный адрес<sup>*</sup></label><br>
          <input class="form-control card__email_value"
                 placeholder="example@gmail.com"
                 formControlName="email" type="email">
        </div>
        <div class="card__item"
             [ngClass]="{'has-error': !clientForm.get('name').valid && clientForm.get('name').touched,
                          'has-success': clientForm.get('name').valid && !clientForm.get('name').touched }"><br>
          <label>Адрес<sup>*</sup></label><br>
          <input formControlName="address"
                 placeholder="Адрес клиента"
                 class="form-control card__address_value" type="text">
        </div>
      </div>
      <div class="client__card__item">
        <label >Описание</label><br>
        <textarea id="description"  rows="5"
                  formControlName="description"
                  placeholder="Особенности клиента"
                  class="form-control card_description">
        </textarea>
      </div>
    </form>
  </div>
</div>
